<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestWithKendo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestWithKendo.styles.css" asp-append-version="true" />
    <link href="./css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/11.0.2/default/default-main.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2025.2.702/js/kendo.all.min.js"></script>

    <script src="./js/telerik-license.js"></script>
</head>
<body>
    <header class="main-header">
        <div class="yellow-block"></div>
        <div class="triangle"></div>
        <div class="header-content">
            <div class="header-top">
                <ul class="header-menu">
                    <li><a href="javascript:void(0)">Dashboard</a></li>
                    <li><a href="javascript:void(0)">Search</a></li>
                    <li><a href="javascript:void(0)">User</a></li>
                    <li><a href="javascript:void(0)">Reporting</a></li>
                    <li><a href="javascript:void(0)">Add Customer</a></li>
                    <li><a href="javascript:void(0)">Audit</a></li>
                    <li><a href="javascript:void(0)">Exceptions</a></li>
                    <li><a href="javascript:void(0)">Notices</a></li>
                    <li><a href="javascript:void(0)">Admin</a></li>
                    <li><a href="javascript:void(0)">Sign Out</a></li>
                </ul>
            </div>
            <div class="header-bottom">
                <span>
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <!-- File shape -->
                        <path d="M6 2C5.44772 2 5 2.44772 5 3V21C5 21.5523 5.44772 22 6 22H18C18.5523 22 19 21.5523 19 21V8L13 2H6Z" fill="#4A5568" />
                        <!-- Folded corner -->
                        <path d="M13 2V8H19" fill="#2D3748" />
                        <!-- Text lines -->
                        <rect x="7" y="10" width="10" height="1.5" fill="white" />
                        <rect x="7" y="13" width="8" height="1.5" fill="white" />
                        <rect x="7" y="16" width="6" height="1.5" fill="white" />
                    </svg>
                    Task Group Maintainance
                </span>
            </div>
        </div>
    </header>
    <div style="padding: 1rem 10px; height: 100vh; background: #d7e2f6;">
        <main role="main-1" class="col-md-12 col-lg-12 pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TestWithKendo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>