footer {
    border-top: 1px #cacaca solid;
    color: #7B7B7B;
    font-weight: bold;
    text-align: right;
    height: 40px;
    padding: 10px 24px 0 20px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}
