div#aa-scrollable-content {
    height: 600px;
    overflow-y: auto;
}

.aa-kendo-grid > thead > tr > th:first-child,
.aa-kendo-grid > tbody > tr > td:first-child,
.aa-kendo-grid > thead > tr > th:nth-child(2),
.aa-kendo-grid > tbody > tr > td:nth-child(2),
.aa-kendo-grid > thead > tr > th:nth-child(3),
.aa-kendo-grid > tbody > tr > td:nth-child(3) {
    width: 60px;
    text-align: center;
}

.fa-trash-alt.disabled {
    color: #C3C3C3 !important;
}

.no-file {
    font-size: 11px;
}