.aa-panel {
    width: 100%;
}

.aa-panel > div {
    width: 70%;
    float: left;
    display: table;
    box-sizing: border-box;
    padding-right: 30px;
}

.aa-panel > div:last-child {
    width: 30%;
    padding-right: 0;
}

.aa-panel > div:after {
    clear: left;
}

.aa-page-header {
    width: 100%;
}

.aa-page-header > div {
    height: 45px;
    line-height: 30px;
    font-weight: bold;
    width: 50%;
    float: left;
    display: table;
}

.aa-page-header > div:last-child {
    text-align: right;
}

.aa-page-header > div:after {
    clear: left;
}

.aa-kendo-grid > thead > tr > th:first-child,
.aa-kendo-grid > tbody > tr > td:first-child,
.aa-kendo-grid > thead > tr > th:nth-child(2),
.aa-kendo-grid > tbody > tr > td:nth-child(2) {
    width: 80px;
    text-align: center;
}

.aa-contact-list-container {
    width: 100%;
    height: 550px;
    overflow: auto;
}


div.aa-paging-wrapper {
    width: 100%;
    text-align: center;
    padding: 12px 0px;
}

.k-dropdown,
.k-textbox {
    width: 250px;
}

/* COPIED FROM SearchResultsGrid.css */
section {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: table;
}

section#grid-header > div {
    width: 50%;
    float: left;
}

section#grid-header > div > ul#aa-button-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

section#grid-header > div > ul#aa-button-wrapper > li {
    height: 35px;
    line-height: 35px;
    float: left;
    padding-left: 12px;
}

section#grid-header > div > ul#aa-button-wrapper > li:first-child {
    padding-left: 0;
}

#aa-pagination-wrapper {
    width: 100%;
    display: table;
}

#aa-pagination-wrapper > div {
    width: 50%;
    display: table-cell;
    float: left;
}

#aa-pagination-wrapper > div.pager {
    float: right;
    padding-top: 5px;
}

#aa-pagination-wrapper > div.pager a,
#aa-pagination-wrapper > div.pager a:active,
#aa-pagination-wrapper > div.pager a:visited {
    float: left;
    margin: 0 .08333em;
    height: 2em;
    line-height: 2em;
    border-radius: 1.0833em;
    cursor: pointer;
    text-align: center;
    border: 1px #CACACA solid;
    width: 2.0em;
}

#aa-pagination-wrapper > div.pager a:hover {
    background-color: #F5F5F5;
}

#aa-pagination-wrapper > div.pager a.selected,
#aa-pagination-wrapper > div.pager a:active.selected,
#aa-pagination-wrapper > div.pager a:visited.selected {
    color: #7AA6BD;
    border: 1px transparent solid;
    background-color: #F5F5F5;
}

#aa-pagination-wrapper > div.pager a:hover.selected {
    background-color: #F5F5F5;
    cursor: default;
}

.aa-account-description {
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}