.k-dashboard-widget .k-dashboard-widget-content.placeholder-content,
.k-dashboard-widget .k-dashboard-widget-content.grid-stack-item-content {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

.k-dashboard-widget.grid-stack-item > .ui-resizable-se {
    right: 8px;
    bottom: 8px;
    background-image: none;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid #a3b5b8;
    border-right: 0 solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 8px solid #a3b5b8;
    border-left: 8px solid transparent;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.k-dashboard-widget-content {
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 8px;
}

.k-dashboard-widget .k-loading-mask .k-loading-image {
    position: relative;
}

.k-dashboard-widget-content > .k-dashboard-widget-header {
    border-radius: 4px 4px 0px 0px;
    padding: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.k-dashboard-widget-content > .k-dashboard-widget-header > span:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}

.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.refresh,
.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.remove,
.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.expand {
    opacity: 0.5;
    cursor: pointer;
}

.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.refresh:hover,
.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.remove:hover,
.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.expand:hover {
    opacity: 1;
}

.k-dashboard-widget-content > .k-dashboard-widget-header .k-dashboard-widget-command.remove {
    display: none;
    line-height: 16px;
    font-size: 14px;
}

.k-dashboard-widget-content > .k-dashboard-widget-header span {
    color: #afafaf;
    text-transform: uppercase;
}

.k-dashboard-widget-body {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
}

.k-dashboard-widget-body .k-state-normal,
.k-dashboard-widget-body .k-state-edit,
.k-dashboard-widget-body .k-state-misconfigured,
.k-dashboard-widget-body .k-state-failed {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    overflow-y: auto;
}

.k-dashboard-widget-body .k-state-edit {
    padding: 24px;
    box-sizing: border-box;
}

/*
 * Initial state
 */
.k-dashboard-widget.k-state-normal .k-dashboard-widget-body > .k-state-edit,
.k-dashboard-widget.k-state-normal .k-dashboard-widget-body > .k-state-misconfigured,
.k-dashboard-widget.k-state-normal .k-dashboard-widget-body > .k-state-failed {
    display: none;
}

/* 
 * Edit state
 */
.k-dashboard-widget.k-state-edit .k-dashboard-widget-header {
    cursor: move;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-content {
    border-radius: 4px;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-header {
    display: inherit;
    background: #79a6be;
    color: #fff;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-body > .k-state-edit {
    display: block;
    cursor: default;
    height: calc(100% - 24px);
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-body > .k-state-normal,
.k-dashboard-widget.k-state-edit .k-dashboard-widget-body > .k-state-misconfigured,
.k-dashboard-widget.k-state-edit .k-dashboard-widget-body > .k-state-failed {
    display: none;
}

.k-dashboard-widget.k-state-edit.k-state-misconfigured .k-dashboard-widget-body > .k-state-misconfigured,
.k-dashboard-widget.k-state-edit.k-state-failed .k-dashboard-widget-body > .k-state-failed {
    display: none;
}

.k-dashboard-widget.k-state-edit.k-state-misconfigured .k-dashboard-widget-body > .k-state-edit,
.k-dashboard-widget.k-state-edit.k-state-failed .k-dashboard-widget-body > .k-state-edit {
    display: block;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-header .k-dashboard-widget-commands {
    display: inline-block;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-header .k-dashboard-widget-command.remove {
    display: inherit;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-header .k-dashboard-widget-commands {
    display: none;
}

.k-dashboard-widget.k-state-edit .k-dashboard-widget-header span {
    color: #fff;
    text-transform: inherit;
}

.k-dashboard-widget-body > .k-state-edit h3 {
    color: #79A6BE;
    font-size: 14px;
    margin: 12px 0 24px 0;
}

/* 
 * Misconfigured state
 */
.k-dashboard-widget.k-state-misconfigured .k-dashboard-widget-body > .k-state-misconfigured {
    display: block;
}

.k-dashboard-widget.k-state-misconfigured .k-dashboard-widget-body > .k-state-normal,
.k-dashboard-widget.k-state-misconfigured .k-dashboard-widget-body > .k-state-edit,
.k-dashboard-widget.k-state-misconfigured .k-dashboard-widget-body > .k-state-failed {
    display: none;
}

/* 
 * Failed state
 */
.k-dashboard-widget.k-state-failed .k-dashboard-widget-body > .k-state-failed {
    display: block;
}

.k-dashboard-widget.k-state-failed .k-dashboard-widget-body > .k-state-normal,
.k-dashboard-widget.k-state-failed .k-dashboard-widget-body > .k-state-edit,
.k-dashboard-widget.k-state-failed .k-dashboard-widget-body > .k-state-misconfigured {
    display: none;
}
.k-custom-dialog.k-content {
    padding: 0;
}

.k-custom-dialog-content .k-content {
    box-sizing: border-box;
}
h1 {
    display: inline;
}

.init-hidden {
    visibility: hidden;
}

.aa-title .k-dropdown .k-state-hover .k-input,
.aa-title .k-dropdown .k-state-focused .k-input,
.aa-title .k-dropdown .k-state-default,
.aa-title .k-dropdown .k-input {
    color: #555;
}

.aa-title .k-button {
    width: 33px;
    height: 33px;
    padding: 0; /* ie fix */
    margin-bottom: 1px;
}

.aa-title .k-dropdown .k-state-disabled .k-input {
    color: #000;
}

.aa-title .k-dropdown .k-state-disabled,
.aa-title .k-button.k-primary.k-state-disabled {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
}

.aa-title ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aa-title ul > li {
    padding-left: 6px;
    float: left;
}

.aa-title ul > li:nth-child(2) {
    padding-left: 3px;
}

.aa-title ul > li:first-child {
    padding-left: 0;
}

div.panel {
    padding: 6px;
    border: 1px #CCC solid;
    width: 350px;
    height: 270px;
    overflow: auto;
    background-color: #F7F7F7;
    margin-bottom: 12px;
}

div.blankpanel {
    padding: 6px;
    width: 350px;
    height: 250px;
    overflow: auto;
    margin-bottom: 12px;
}

.aa-panel-header {
    width: 100%;
}

.aa-panel-header > div {
    font-weight: bold;
    width: 50%;
    float: left;
    margin-bottom: 6px;
}

.aa-panel-header > div:last-child {
    text-align: right;
}

.aa-panel-header > div:after {
    clear: left;
}

#dashboard-dropdownlist {
    display: inline-block;
}

#dashboard-widget-list {
    background-color: #fff;
    width: 275px;
    margin: 12px;
    border-radius: 4px;
}

#dashboard-widget-list h2 {
    background-color: #78a6be;
    padding: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px 4px 0px 0px;
}

#dashboard-widget-list h2 > span {
    vertical-align: middle;
    line-height: 100%
}

#dashboard-widget-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

#dashboard-widget-list ul > li {
    color: #4a5158;
    padding: 12px;
}

#dashboard-widget-list ul > li span {
    vertical-align: top;
}

#dashboard-widget-list ul > li:hover {
    background-color: #efefef;
}

#dashboard-widget-list .dashboard-widget-name {
    width: 158px;
    font-size: 14px;
    overflow-wrap: break-word;
    display: block;
    word-break: break-word;
    vertical-align: middle;
}

#dashboard-container > div[data-role="dashboard"] {
    overflow: hidden;
}

#name-input {
    border-bottom: 1px solid #cecece;
    overflow: hidden;
    margin: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#name-input div {
    display: inline-block;
    margin-right: 8px;
}

#name-input .edit-icon {
    font-size: 20px;
    color: #ACB5BC;
}

#name-input .edit-title {
    font-size: 19px;
    color: #969696;
}

#name-input .edit-field {
    flex: 1;
    margin-right: 0;
}

#name-input input[type="text"] {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 19px;
    padding: 1px 0 0 0;
    text-indent: 0;
    line-height: 1.75;
    width: calc(100% - 213px);
}

#name-input input[type="text"]:hover,
#name-input input[type="text"]:active,
#name-input input[type="text"]:focus {
    box-shadow: 0px 0px;
    border: 1px solid transparent;
}

#name-input input[type="text"][disabled] {
    border: 1px solid transparent;
}

#no-dashboards {
    margin:25%;
    text-align: center;
    color: #545454;
}

#no-dashboards,
#no-dashboards a {
    font-size: 14pt;
}

#no-dashboards a {
    font-weight: 700;
}

input::-ms-clear {
    display: none;
}

#dashboard {
    margin-top: 6px;
}

.k-widget.k-window.dashboard-popout,
.k-widget.k-window.dashboard-popout .k-window-titlebar,
.k-widget.k-window.dashboard-popout .k-window-content {
    border-radius: 8px;
}

.k-widget.k-window.dashboard-popout {
    margin: 12px;
    position: relative;
    display: block !important; /* Kendo sets inline-block in IE only */
    min-height: 480px !important;
    z-index: inherit;
}

.k-widget.k-window.dashboard-popout .k-window-titlebar {
    background-color: #fff;
    color: #afafaf;
}

.k-widget.k-window.dashboard-popout .k-window-titlebar .k-i-close:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f422";
}

.k-widget.k-window.dashboard-popout .aa-my-uploads-dashboard-widget {
    padding: 12px;
    box-sizing: border-box;
}

.k-dashboard-widget-body .k-state-failed > div {
    text-align: center;
    top: calc(50% - 64px);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.k-dashboard-widget-body .k-state-misconfigured > div {
    text-align: center;
    top: calc(50% - 74px);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.k-dashboard-widget-body .k-state-failed :first-child .k-i-non-recurrence,
.k-dashboard-widget-body .k-state-misconfigured :first-child .k-i-information {
    color: #d7d7d7;
    font-size: 4em;
}

.k-dashboard-widget-body .k-state-failed :first-child span:nth-child(3),
.k-dashboard-widget-body .k-state-misconfigured :first-child span:nth-child(3) {
    font-size: 2em;
    color: #929292;
}

.k-dashboard-widget-body .k-state-failed :first-child span:nth-child(5),
.k-dashboard-widget-body .k-state-misconfigured :first-child span:nth-child(5) {
    font-size: 1.25em;
    color: #929292;
}

.aa-title .k-widget.k-dropdown {
    font-weight: bold;
    color: #555;
    margin: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: #DBDBDB;
    display: table;
    height: 33px;
    line-height: 33px;
    margin-top: 7px;
    width: 200px;
}

.k-dropdown-wrap .k-input {
    text-indent: 3px;
}

.aa-title .k-dropdown .k-state-default,
.aa-title .k-dropdown .k-state-active,
.aa-title .k-dropdown .k-state-hover,
.aa-title .k-dropdown .k-state-focused,
.aa-title .k-dropdown .k-state-disabled,
.aa-title .k-dropdown-wrap .k-state-default,
.aa-title .k-dropdown-wrap .k-state-active,
.aa-title .k-dropdown-wrap .k-state-hover,
.aa-title .k-dropdown-wrap .k-state-focused {
    border-color: transparent;
    background-color: transparent;
    color: #555;
    box-shadow: none;
}

.aa-title .k-button {
    box-shadow: none;
    border-radius: 4px;
    font-size: 14px;
}

.aa-title .k-button.k-primary {
    color: #555;
    border-color: #DBDBDB;
    background-color: #DBDBDB;
}

.aa-title .k-button.k-primary:hover {
    border-color: #CBCBCB;
    background-color: #CBCBCB;
}
.aa-accudoc-dashboard-widget.aa-panel-table {
    width: 100%;
}

.aa-accudoc-dashboard-widget.aa-panel-table > tbody > tr {
    height: 25px;
}

.aa-accudoc-dashboard-widget .aa-no-results {
    text-align: center;
    font-weight: bold;
}

.aa-accudoc-dashboard-widget.aa-panel-table > tbody > tr > td {
    padding: 0 6px;
    background-color: #FFF;
    border-bottom: 1px #F5F5F5 solid;
}

.aa-accudoc-dashboard-widget.aa-panel-table > tbody > tr.aa-header > td {
    background-color: #3B3B3B;
    color: #FFF;
    font-weight: bold;
}

.aa-accudoc-dashboard-widget.aa-panel-table > tbody > tr > td:last-child {
    width: 45%;
}

.aa-accudoc-dashboard-widget.aa-panel-table > tbody > tr.aa-header > td:last-child {
    padding-left: 6px;
    padding-right: 6px;
}
.aa-approval-dashboard-widget.aa-panel-table {
    width: 100%;
}

.aa-approval-dashboard-widget.aa-panel-table > tbody > tr {
    height: 25px;
}

.aa-approval-dashboard-widget .aa-no-results {
    text-align: center;
    font-weight: bold;
}

.aa-approval-dashboard-widget.aa-panel-table > tbody > tr > td {
    padding: 0 6px;
    background-color: #FFF;
    border-bottom: 1px #F5F5F5 solid;
}

.aa-approval-dashboard-widget.aa-panel-table > tbody > tr.aa-header > td {
    background-color: #3B3B3B;
    color: #FFF;
    font-weight: bold;
}

.aa-approval-dashboard-widget.aa-panel-table > tbody > tr > td:last-child {
    width: 125px;
}

.aa-approval-dashboard-widget.aa-panel-table > tbody > tr > td.aa-tac {
    padding: 0 6px;
}

.aa-approval-dashboard-widget.aa-panel-table > tbody > tr.aa-header > td:last-child {
    padding-left: 0;
    padding-right: 6px;
}

.aa-approval-dashboard-widget .aa-exception-type-indent,
.aa-approval-dashboard-widget .aa-loan-indent > td:first-child {
    padding-left: 20px !important;
}

.aa-approval-dashboard-widget .aa-exception-def-indent > td:first-child {
    padding-left: 40px !important;
}

.aa-approval-dashboard-widget .aa-timer-name > td {
    background-color: #8FB6CA !important;
    color: #FFF;
    font-weight: bold;
}

.aa-approval-dashboard-widget .aa-total > td {
    text-align: right;
    background-color: #F5F5F5 !important;
}

.aa-approval-dashboard-widget .icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aa-approval-dashboard-widget .icon-list:after {
    clear: left;
}

.aa-approval-dashboard-widget .icon-list > li {
    float: left;
    padding-left: 6px;
}

.aa-approval-dashboard-widget .icon-list > li:first-child {
    padding-left: 0;
}
.aa-active-task-dashboard-widget .aa-panel-table {
    width: 100%;
}

.aa-active-task-dashboard-widget .aa-panel-table > tbody > tr {
    height: 25px;
}

.aa-active-task-dashboard-widget .aa-no-results {
    text-align: center;
    font-weight: bold;
}

.aa-active-task-dashboard-widget .aa-panel-table > tbody > tr > td {
    padding: 0 6px;
    background-color: #FFF;
    border-bottom: 1px #F5F5F5 solid;
}

.aa-active-task-dashboard-widget .aa-panel-table.credit > tbody > tr:nth-last-child(2) > td,
.aa-active-task-dashboard-widget .aa-panel-table.lender > tbody > tr:nth-last-child(2) > td {
    border-bottom: 1px #3B3B3B solid;
}

.aa-active-task-dashboard-widget .aa-panel-table > tbody > tr.aa-header > td {
    background-color: #3B3B3B;
    color: #FFF;
    font-weight: bold;
}

.aa-active-task-dashboard-widget .aa-panel-table > tbody > tr > td:last-child {
    width: 50px;
}

.aa-active-task-dashboard-widget .aa-panel-table > tbody > tr > td.aa-tac {
    padding: 0 6px;
}

.aa-active-task-dashboard-widget .aa-panel-table > tbody > tr.aa-header > td:last-child {
    padding-left: 0;
    padding-right: 6px;
}

.aa-active-task-dashboard-widget .aa-panel-table.accudoc > tbody > tr.aa-header > td:last-child {
    padding-left: 6px;
    padding-right: 0;
}

.aa-active-task-dashboard-widget .aa-exception-type-indent,
.aa-active-task-dashboard-widget .aa-loan-indent > td:first-child {
    padding-left: 20px !important;
}

.aa-active-task-dashboard-widget .aa-exception-def-indent > td:first-child {
    padding-left: 40px !important;
}

.aa-active-task-dashboard-widget .aa-timer-name > td {
    background-color: #8FB6CA !important;
    color: #FFF;
    font-weight: bold;
}

.aa-active-task-dashboard-widget .aa-total > td {
    text-align: right;
    background-color: #F5F5F5 !important;
}

.aa-active-task-dashboard-widget .icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aa-active-task-dashboard-widget .icon-list:after {
    clear: left;
}

.aa-active-task-dashboard-widget .icon-list > li {
    float: left;
    padding-left: 6px;
}

.aa-active-task-dashboard-widget .icon-list > li:first-child {
    padding-left: 0;
}

.aa-active-task-dashboard-widget.k-window-content main {
    margin-right: 32px;
}
main#aa-active-exception-filter-wrapper {
    width: 676px;
    min-width: auto;
    padding: 0;
}

#aa-active-exception-filter-wrapper #aa-selection-list-wrapper {
    width: 100%;
    height: 290px;
    overflow: auto;
    margin-top: 6px;
    border: solid 1px #E5E5E5;
    padding: 6px;
    box-sizing: border-box;
}

#aa-active-exception-filter-wrapper td.aa-selection-list-content {
    width: 50%;
    vertical-align: top;
}

#aa-active-exception-filter-wrapper .aa-selection-list-table {
    width: 100%;
}

#aa-active-exception-filter-wrapper .radio-wrapper.top > td {
    padding-bottom: 6px;
}

#aa-active-exception-filter-wrapper .radio-wrapper.pad-top > td {
    padding-top: 6px;
}

#aa-active-exception-filter-wrapper form {
    padding: 12px;
}

#aa-active-exception-filter-wrapper aa-selection-list-wrapper {
    overflow: auto;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table {
    width: 100%;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table > tbody > tr {
    height: 25px;
}

.aa-active-exceptions-dashboard-widget .aa-no-results {
    text-align: center;
    font-weight: bold;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table > tbody > tr > td {
    padding: 0 6px;
    background-color: #FFF;
    border-bottom: 1px #F5F5F5 solid;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table.credit > tbody > tr:nth-last-child(2) > td,
.aa-active-exceptions-dashboard-widget .aa-panel-table.lender > tbody > tr:nth-last-child(2) > td {
    border-bottom: 1px #3B3B3B solid;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table > tbody > tr.aa-header > td {
    background-color: #3B3B3B;
    color: #FFF;
    font-weight: bold;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table > tbody > tr > td:last-child {
    width: 50px;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table > tbody > tr > td.aa-tac {
    padding: 0 6px;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table > tbody > tr.aa-header > td:last-child {
    padding-left: 0;
    padding-right: 6px;
}

.aa-active-exceptions-dashboard-widget .aa-panel-table.accudoc > tbody > tr.aa-header > td:last-child {
    padding-left: 6px;
    padding-right: 0;
}

.aa-active-exceptions-dashboard-widget .aa-exception-type-indent,
.aa-active-exceptions-dashboard-widget .aa-loan-indent > td:first-child {
    padding-left: 20px !important;
}

.aa-active-exceptions-dashboard-widget .aa-total > td {
    text-align: right;
    background-color: #F5F5F5;
}

main#aa-reassign-task {
    padding: 12px;
    box-sizing: border-box;
    display: table;
    width: 100%;
}

#aa-reassign-task .k-dropdown {
    width: 380px;
}

div.aa-search-dashboard-widget-item {
    padding-bottom: 8px;
}

div.aa-search-dashboard-widget-item > label {
    display: block;
    font-weight: bold;
}

div.aa-search-dashboard-widget-item > .k-autocomplete.k-state-default,
div.aa-search-dashboard-widget-item > .k-textbox > input, .k-autocomplete .k-input {
    width: 100%;
}

.aa-button-wrapper {
    text-align: right;
    padding-bottom: 6px;
    box-sizing: border-box;
}
.aa-convert-app-widget {
    width: 100%;
}

.aa-convert-app-widget > thead > tr,
.aa-convert-app-widget > tbody > tr {
    height: 25px;
}

.aa-no-results {
    text-align: center;
    font-weight: bold;
}

.aa-convert-app-widget > thead > tr > th {
    background-color: #3B3B3B;
    color: #FFF;
    font-weight: bold;
    padding: 0 6px;
}

.aa-convert-app-widget > tbody > tr > td {
    padding: 0 6px;
    background-color: #FFF;
    border-bottom: 1px #F5F5F5 solid;
}

.aa-convert-app-widget.credit > tbody > tr:nth-last-child(2) > td,
.aa-convert-app-widget.lender > tbody > tr:nth-last-child(2) > td {
    border-bottom: 1px #3B3B3B solid;
}

.aa-convert-app-link {
    text-align: center;
}

.aa-exception-type-indent,
.aa-loan-indent > td:first-child {
    padding-left: 20px !important;
}

.aa-exception-def-indent > td:first-child {
    padding-left: 40px !important;
}


.aa-disabled {
    color: #CBCFD5;
}

.aa-my-uploads-dashboard-widget {
    height: 100%;
}

.aa-my-uploads-dashboard-widget .parent-folder-wrapper {
    display: flex;
    position: relative;
}

.aa-my-uploads-dashboard-widget .parent-folder-wrapper > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aa-my-uploads-dashboard-widget .parent-folder-wrapper > ul > li {
    float: left;
    padding-left: 6px;
    height: 28px;
    line-height: 28px;
}

.aa-my-uploads-dashboard-widget .parent-folder-wrapper > ul > li:nth-child(3) > span {
    text-transform: lowercase;
    color: #ACACAC;
}

.aa-my-uploads-dashboard-widget .parent-folder-wrapper .fa-folder-open {
    color: #45546C;
}

.aa-my-uploads-dashboard-widget .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.aa-my-uploads-dashboard-widget .listview {
    list-style-type: none;
    padding: 6px 6px 6px 5px;
    margin: 0;
    border-top-color: #E6E6E6;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    height: calc(100% - 38px);
    box-sizing: border-box;
}

.aa-my-uploads-dashboard-widget .listview > li {
    padding: 6px 0;
}

.aa-my-uploads-dashboard-widget .listview .aa-file-type-icon {
    margin-right: 3px;
}

/* POPOUT TABLE */
.dashboard-popout .aa-my-uploads-dashboard-widget table {
    width: 100%;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr,
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr {
    height: 28px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th,
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td {
    padding: 6px 2px 6px 4px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th {
    border-bottom: 1px #E6E6E6 solid;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(1) {
    text-align: left;
    width: 16px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(1) {
    vertical-align: top;
    width: 16px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(2) {
    text-align: left;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(n+3):nth-child(-n+9),
.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th span.path {
    color: #ACACAC;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th span.path {
    text-transform: lowercase;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(3),
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(3) {
    text-align: left;
    width: 90px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(4),
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(4) {
    text-align: left;
    width: 190px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(n+5):nth-child(-n+6),
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(n+5):nth-child(-n+6) {
    text-align: left;
    width: 70px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(7),
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(7) {
    text-align: left;
    width: 90px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(8),
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(8) {
    text-align: left;
    width: 100px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > thead > tr > th:nth-child(9),
.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr > td:nth-child(9) {
    text-align: right;
    width: 50px;
}

.dashboard-popout .aa-my-uploads-dashboard-widget table > tbody > tr:hover td {
    background-color: rgba(203, 227, 242, 0.25);
}

.dashboard-popout .aa-my-uploads-dashboard-widget table .fa-info-circle,
.dashboard-popout .aa-my-uploads-dashboard-widget table .fa-arrow-circle-right {
    font-size: 16px;
}

/* LIST ITEMS */
.aa-my-uploads-dashboard-widget .list-item {
    display: flex;
}

.aa-my-uploads-dashboard-widget .list-item > div:nth-child(1) {
    width: 22px;
    min-width: 22px;
}

.aa-my-uploads-dashboard-widget .list-item > div:nth-child(3) {
    flex: 1;
    text-align: right;
    margin: auto;
}

.aa-my-uploads-dashboard-widget .list-item > div:nth-child(4) {
    padding-left: 6px;
    margin: auto;
}

.aa-my-uploads-dashboard-widget .list-item > div:nth-child(3) .aa-icon.fa,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(4) .aa-icon.fa {
    font-size: 16px;
}

.aa-my-uploads-dashboard-widget .list-item > div:nth-child(3) a,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(3) a:visited,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(3) a:active,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(4) a,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(4) a:visited,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(4) a:active {
    background-color: transparent;
    padding: 3px 0 2px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.aa-my-uploads-dashboard-widget .list-item > div:nth-child(3) a:hover,
.aa-my-uploads-dashboard-widget .list-item > div:nth-child(4) a:hover {
    background-color: #F1F1F1;
}

.aa-color-quickmove {
    color: #8DD69A;
}

.aa-my-uploads-dashboard-widget a.customer-link,
.aa-my-uploads-dashboard-widget a.customer-link:visited,
.aa-my-uploads-dashboard-widget a.customer-link:active,
.aa-my-uploads-dashboard-widget a.customer-link:hover {
    color: #6499B6;
}

#document-info-window {
    overflow-y: hidden;
}
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit .dashboard-report-edit-create-message {
    width: 50%;
    min-width: 260px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit a,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit a:active,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit a:visited {
    color: #79A6BE;
    text-decoration: none;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit a:hover {
    text-decoration: underline;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit ul.report-selection {
    list-style-type: none;
    padding: 0;
    margin: 12px 0;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit ul.report-selection > li {
    float: left;
    padding-left: 6px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit ul.report-selection > li:nth-child(1) {
    padding-left: 0;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit ul.report-selection > li:nth-child(2) {
    line-height: 28px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit .report-selection a,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit .report-selection a:active,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit .report-selection a:visited,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-edit .report-selection a:hover {
    color: #9E9E9E;
    text-decoration: none;
}

.aa-reports-dashboard-widget.k-dashboard-widget .report-selection:after {
    content: '';
    display: block;
    clear: both;
}

.dashboard-report-list-item {
    display: flex;
    flex-direction: row
}

.dashboard-report-list-item div:nth-child(1) {
    text-align: left;
}

.dashboard-report-list-item div:nth-child(2) {
    padding-left: 24px;
    text-align: right;
    flex-grow: 1;
}

.dashboard-report-list-item span {
    color: #79A6BE;
}

/* DYNAMIC REPORTING JUNK*/


.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] th,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] td {
    padding: 4px;
    background-color: #fff;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] th:empty {
    height: 16px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] td:empty {
    height: 19px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] {
    border: none;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grid-header {
    background-color: #fff;
    border-bottom-width: 0px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grid-header-wrap {
    border-color: #fff;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header {
    background-color: #fff;
    line-height: 28px;
    height: 28px;
    color: #cecece;
    padding: 0;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator {
    background-color: #ececec;
    border-color: #ececec;
    color: #696969;
    padding: 2px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator a,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator a:link,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator a:visited,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator a:active,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator a:hover {
    color: #808080;
    font-size: 11px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-header > .k-group-indicator .k-icon {
    font: 12px/1 WebComponentsIcons;
    line-height: 12px;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal > div:first-child,
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal > div.k-licensed > div[data-role=grid] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal > div:not(.k-licensed) > div[data-role=grid] {
    position: absolute;
    left: 0;
    top: 38px;
    right: 0;
    bottom: 0;
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal > div:not(.k-licensed) > div[data-role=grid] .k-pager-wrap {
    display: none;
}
.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal > div:not(.k-licensed) > div[data-role=grid] .k-grid-content {
    height: calc(100% - 53px);
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grid-content {
    height: calc(100% - 97px);
}

.aa-reports-dashboard-widget.k-dashboard-widget .k-state-normal div[data-role=grid] .k-grouping-row td {
    background-color: #f5f5f5;
}

/*preview banner*/
.dashboard-report-preview {
    background-color: #e7d6f5;
    padding: 8px 16px;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashboard-report-preview .exclamation {
    color: #7434ab;
    cursor: help;
}

.dashboard-report-preview span:first-child {
    display: inline-block;
    margin-right: 12px;
}