.aa-title {
    padding-left: 20px;
}

main {
    padding: 12px;
    box-sizing: border-box;
    display: table;
    width: 100%;
}

#aa-two-column-form-table {
    width: 100%;
}

#aa-two-column-form-table > tbody > tr {
    height: 35px;
}

#aa-two-column-form-table > tbody > tr > td:first-child {
    background-color: #F5F5F5;
    border-bottom: 1px #FFF solid;
    text-align: left;
    padding: 0 12px;
}

#aa-two-column-form-table > tbody > tr > td.not-selected {
    background-color: #F5F5F5;
    border-bottom: 1px #FFF solid;
    text-align: left;
    padding: 0 12px;
}

#aa-two-column-form-table > tbody > tr > td.selected {
    background-color: #D6D6D6;
    border-bottom: 1px #FFF solid;
    text-align: left;
    padding: 0 12px;
}

#aa-two-column-form-table > tbody > tr > td:nth-child(2) {
    text-align: left;
    padding-left: 12px;
}

#aa-two-column-form-table > tbody > tr > td:nth-child(3) {
    width: 15px;
}

#aa-two-column-form-table > tbody > tr.aa-no-background-color > td:first-child {
    background-color: inherit;
}

#aa-two-column-form-table > tbody > tr.aa-flexfield-header > td {
    background-color: #ECECEC;
}

.schedule-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: table;
}

.schedule-list > li {
    padding-left: 6px;
    height: 32px;
    line-height: 32px;
    display: table-cell;
}

.schedule-list > li:first-child {
    padding-left: 0;
}

.aa-button-wrapper {
    width: 100%;
    display: table;
    margin-top: 12px;
    clear: right;
}

.aa-button-wrapper > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    clear: left;
}

.aa-button-wrapper > ul > li {
    padding-left: 6px;
    float: left;
}

.aa-button-wrapper > ul > li:first-child {
    padding-left: 0;
}

.title-wrapper {
    padding: 6px 0;
}

.left-pad {
    padding-left: 6px;
}

#instructionWarning {
    width: 400px;
    display: none;
}

.k-dropdown {
    width: 80px;
}

.k-textbox.date {
    width: 80px;
}

.k-textbox.days {
    width: 50px;
}

.k-textbox.title {
    width: 400px;
}

.fa-unlock:hover,
.fa-lock:hover {
    cursor: pointer;
}

.fa-question-circle:hover {
    cursor: default;
}

.k-icon.k-i-arrow-60-down {
    margin-top: 8px !important;
}

span.k-tooltip {
    margin-left: 0;
}