.listing-table {
    width: 100%;
    display: table;
}

.listing-table > tbody > tr {
    height: 30px;
}

.listing-table > tbody > tr > td {
    padding-left: 6px;
    width: 40%;
}

.listing-table > tbody > tr > td:last-child {
    width: 60%;
}

.listing-table > tbody > tr:nth-child(odd) > td {
    background-color: #F5F5F5;
}

.aa-policy-description {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
