#aa-header-logo-container {
    position: absolute;
    width: 96px;
    background-color: #545454;
    top: 0px;
    left: 0px;
    height: 70px;
    padding: 4px 0 0 3px;
    box-sizing: border-box;
}

#aa-header-logo-container:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    top: 0px;
    left: 96px;
    bottom: 0px;
    right: 0px;
    height: 70px;
    content: '';
    transform-origin: top left;
    transform: skewY(-50deg);
    -ms-transform: skewY(-50deg);
}

#aa-header-logo-container > a {
    outline: 0;
    border: 0;
}

#aa-header-logo-container > a > img {
    z-index: 9;
}

#aa-bank-logo-container {
    position: relative;
}

#aa-bank-logo-container img {
    height: 44px;
    border-left: #CECECE 1px solid;
}

nav {
    background-color: #3B3B3B;
    height: 24px;
    padding-left: 150px;
    min-width: 1000px;
    box-sizing: border-box;
}

nav > div {
    height: 24px;
    float: left;
}

#head-search-wrapper {
    float: right;
}

#nav-wrapper {
    background: #1B2681;
    height: 24px;
}

#nav {
    padding: 0;
    margin: 0;
}

#nav li {
    list-style: none;
    float: left;
    margin-right: 8px;
    font-weight:400;
}

#nav li a, #nav li a:visited, #nav li a:active {
    display: block;
    text-align: left;
    background: #3B3B3B;
    padding: 3px 8px 4px;
    color: #FFF;
    text-decoration: none;
}

#nav li a:hover {
    background: #4B4B4B;
}

#nav .submenu a, #nav .submenu a:visited, #nav .submenu a:active {
    display: block;
    text-align: left;
    background: #3B3B3B;
    padding: 5px 8px 6px 6px;
    color: #FFF;
    text-decoration: none;
    border-left: 4px #3B3B3B solid;
}

#nav .submenu a:hover {
    background: #4B4B4B;
    border-left: 4px #789EDF solid;
}

.submenu {
    background: #1B2681;
    visibility: hidden;
    position: absolute;
    z-index: 10005;
    border: 1px #666 solid;
    color: #FFF;
}

.submenu a, .submenu a:visited, .submenu a:active {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    width: 160px;
    padding: 6px 5px;
    text-align: left;
    text-decoration: none;
}

.submenu a:hover {
    color: #FFF;
    text-decoration: none;
}

#help-icon-wrapper {
    height: 24px;
    box-sizing: border-box;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

#help-search-box-wrapper {
    padding: 2px 2px 0 0;
}

#help-search-wrapper {
    background-color: #D7D7D7;
}

#help-search-wrapper > form > div {
    float: left;
}

#notification-user-wrapper {
    background-color: #3E3E3E;
    padding: 0 10px;
    color: #FFF;
    text-align: left;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#help-search-box {
    color: #999;
    border: 1px #FFF solid;
    padding: 3px 4px 2px;
    width: 220px;
    font-family: Arial, Helvetica;
    font-size: 11px;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

.aa-icon-block {
    width: 24px;
    text-align: center;
    background-color: #3E3E3E;
    color: #FFF;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    float: left;
}

.aa-icon-block .fa {
    font-size: 110%;
}

.aa-icon-block#linkedin:hover {
    background-color: #0077B5;
    color: #FFF;
    cursor: pointer;
}

.aa-icon-block#facebook:hover {
    background-color: #3B5998;
    color: #FFF;
    cursor: pointer;
}

.aa-icon-block#twitter:hover {
    background-color: #4AB3F4;
    color: #FFF;
    cursor: pointer;
}

.aa-icon-block#youtube:hover {
    background-color: #CC181E;
    color: #FFF;
    cursor: pointer;
}

.aa-icon-block#cog:hover {
    background-color: #FEB323;
    color: #FFF;
    cursor: pointer;
}

#notification-no-count {
    background-color: #616161;
    min-width: 24px;
    text-align: center;
    display: none;
    font-size: 14px;
    height: 24px;
    line-height: 21px;
    cursor: pointer;
    float: left;
}

#notification-no-count i {
    color: #3F3F3F;
}

#notification-count {
    background-color: #FF5C5C;
    color: #FFF;
    min-width: 24px;
    text-align: center;
    display: none;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    float: left;
}

#uxNotificationMessageHolder {
    position: absolute;
    background-color:#E3E3E3;
    width: 297px;
    border-left: 1px #AEAEAE solid;
    border-bottom: 1px #AEAEAE solid;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    height: 70vh;
    max-height: 70vh;
}

#uxNotificationMessageWrapper {
    height: 70vh;
    max-height: 70vh;
}

.uxNotificationMessageFirst {
    padding: 6px 6px 6px 8px;
    border-bottom: 1px #D1D1D1 solid;
    background-color: #FFF;
}

.uxNotificationMessageFirst:hover {
    background-color: #FFFFEE;
}

.uxNotificationMessage {
    margin-top: 2px;
    padding: 6px 6px 6px 8px;
    border-top: 1px #D1D1D1 solid;
    border-bottom: 1px #D1D1D1 solid;
    background-color: #FFF;
}

.uxNotificationMessage:hover {
    background-color: #FFFFEE;
}

.uxDismissButtonWrapper {
    width: 20px;
}

.uxNotificationMessageUnread {
    margin-top: 2px;
    padding: 6px 6px 6px 8px;
    border-top: 1px #D1D1D1 solid;
    border-bottom: 1px #D1D1D1 solid;
    background-color: #EEE;
}

#uxNoNewNotifications {
    vertical-align: middle;
    display: table-cell;
    height: 70vh;
    max-height: 70vh;
}

#uxNoNewNotifications > div {
    top: 50%;
    width: 297px;
    text-align: center;
}

#no-notification-glyph {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 1px #FFF;
    color: #AAA;
    font-size: 30px;
}

#no-notification-text {
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 1px #FFF;
    color: #AAA;
    font-size: 18px;
}

#uxNotificationDismissAll {
    margin-top: 2px;
    padding: 6px 6px 6px 8px;
    background-color: #EEE;
    border-top: 1px #D1D1D1 solid;
    display: none;
}

#uxNotificationDismissAll > div {
    padding: 5px 0;
    text-align: left;
}

.uxNotificationMessageTitle {
    font-weight: bold;
}

.uxNotificationMessageBody {
    color: #595959;
    padding-top: 3px;
}

.uxNotificationDate {
    color: #888;
    padding-top: 3px;
    font-size: 11px;
}

a.uxDismissButton {
    color: #888;
    font-size: 16px;
}

a:hover.uxDismissButton {
    color: #444;
}
