.k-dropdown {
    width: 400px;
}

#aa-move-document-listing {
    height: 300px;
    overflow: auto;
}

td {
    padding: 3px 5px;
}

td.header {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3F4650;
}