@page
@model TestWithKendo.Pages.TaskGroupListModel
@{
    ViewData["Title"] = "Task Group Maintenance";
}
<link href="~/Packages/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet" />
<link href="~/Packages/kendo-ui/styles/kendo.common.min.css" rel="stylesheet" />
<link href="./css/styles.css" rel="stylesheet" />

<!-- Add CSS styles directly -->
<style>
    .content {
        width: 100%;
    }

    #aa-task-groups {
        border: 1px #E5E5E5 solid;
        box-sizing: border-box;
    }

    .common.add-new-group-button {
        margin-bottom: 16px;
    }

    .aa-kendo-grid > thead > tr > th:first-child,
    .aa-kendo-grid > tbody > tr > td:first-child,
    .aa-kendo-grid > thead > tr > th:nth-child(2),
    .aa-kendo-grid > tbody > tr > td:nth-child(2) {
        width: 80px;
        text-align: center;
    }

    .fa-trash-alt.disabled {
        color: #C3C3C3 !important;
    }

    .k-grid-header .k-header a {
        color: #827c7c !important;
        font-size: 14px;
        font-weight: 600;
    }

    .k-grid tbody tr td {
        font-size: 16px;
        font-weight: bold;
        color: #7e5555 !important;
    }

    .aa-icon {
        font-size: 14px;
        padding-left: 6px;
    }

    .aa-command-link > i {
        color: #62a3be;
    }
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<script src="~/Packages/jquery/jquery.min.js"></script>
<script src="~/Packages/kendo-ui/js/kendo.all.min.js"></script>

<div class="aa-title" style="background: rgb(245 245 245); border: 1px solid #d9d9d9;">
    <div class="d-flex justify-content-between" style="margin-left: 9rem; height: 40px; align-items: center;">
        <div style="font-weight: 600; color: #545454;">
            <i class="title-icon fas fa-file-alt"></i>
            Task Group Maintenance
            <a asp-page="/AdminList" class="ps-1 aa-command-button arrow-icon">
                <i class="aa-icon fas fa-arrow-circle-left fa-fw" title="Return to Admin Area"></i>
            </a>
        </div>
        <div id="aa-bank-logo-container">
            <img src="/customer/logo/customerlogo.gif" alt="logo" id="customer-logo-image" />
            <span>@Model.BankName</span>
        </div>
    </div>
</div>

<div class="aa-pad-md content">
    <div id="aa-task-groups" style="height: 100vh;" class="p-3">
        <ul class="strip-color m-0 p-0">
            <li class="text-white @(Model.Tab == "C" ? "k-state-active tab-active" : "")" onclick="window.location.href='/TaskGroupList?bankid=1&tab=C'">Credit Task Groups</li>
            <li class="text-white @(Model.Tab != "C" ? "k-state-active tab-active" : "")" onclick="window.location.href='/TaskGroupList?bankid=1&tab=L'">Account Task Groups</li>
        </ul>

        @if (!Model.TaskGroupTypeRecords.Any())
        {
            <div id="aa-task-groups-content" style="padding: 1rem !important; display: block;">
                <div class="common add-new-group-button">
                    <a class="button-color button-style k-button k-primary"
                       asp-page="/ManageAccountStatus"
                       asp-route-action="ADD"
                       asp-route-taskGroupType="na"
                       asp-route-bankId="0">
                        <i class="aa-icon fas fa-plus-circle"></i>&nbsp;&nbsp;Add New Credi Task Group
                    </a>
                </div>
                <div class="common">No Task Groups defined.</div>
            </div>
        }
        else
        {
            <div id="aa-task-groups-content" style="padding: 1rem !important; display: block;">
                <div class="common add-new-group-button">
                    <a class="button-color button-style k-button k-primary"
                       asp-page="/ManageAccountStatus"
                       asp-route-action="ADD"
                       asp-route-taskGroupType="na"
                       asp-route-bankId="0">
                        <i class="aa-icon fas fa-plus-circle"></i>&nbsp;&nbsp;Add New Credi Task Group
                    </a>
                </div>

                <div id="taskGroupGrid"></div>

                <script>
                    $(document).ready(function () {
                        $("#taskGroupGrid").kendoGrid({
                            dataSource: {
                                data: @Html.Raw(Json.Serialize(Model.TaskGroupTypeRecords)),
                                schema: {
                                    model: {
                                        fields: {
                                            TaskGroupId: { type: "number" },
                                            TaskGroupLabel: { type: "string" },
                                            TaskCount: { type: "number" },
                                            TaskProcessing: { type: "string" },
                                            ExceptionCount: { type: "number" }
                                        }
                                    }
                                },
                                pageSize: 10
                            },
                            scrollable: false,
                            sortable: true,
                            pageable: false,
                            columns: [
                                {
                                    field: "TaskGroupId",
                                    title: "Delete",
                                    template: function (dataItem) {
                                        if (dataItem.ExceptionCount == 0) {
                                            var url = `/ManageAccountStatus?taskGroupId=${dataItem.taskGroupId}&bankId=@Model.BankId`;
                                            return `<a href="javascript:void(0);" onclick="openKendoDialog('Delete Group', ${url}, 500, 700)" class="aa-command-link">
                                                                                                                                        <i class="aa-icon fas fa-trash-alt fa-fw" title="Delete Group"></i>
                                                                                                                                        </a>`;
                                        } else {
                                            return `<i class="aa-icon fas fa-trash-alt fa-fw disabled"
                                                                                                            title="Cannot delete: group has exceptions"></i>`;
                                        }
                                    },
                                    width: 100
                                },
                                {
                                    field: "TaskGroupId",
                                    title: "Edit",
                                    template: function (dataItem) {
                                        var url = `/ManageAccountStatus?action=EDIT&taskGroupType=${dataItem.taskGroupId}&bankId=@Model.BankId`;
                                        return `<a href="${url}" class="aa-command-link">
                                                                                                                                                        <i class="aa-icon fas fa-pencil-alt fa-fw" title="Edit Group"></i>
                                                                                                                                                    </a>`;
                                    },
                                    width: 100
                                },
                                {
                                    field: "TaskGroupLabel",
                                    title: "Task Group Name",
                                    template: function (dataItem) {
                                        return dataItem.taskGroupLabel;
                                    }
                                },
                                {
                                    field: "TaskCount", title: "Number of Tasks", template: function (data) {
                                        return data.taskCount;
                                    }
                                },
                                {
                                    field: "TaskProcessing",
                                    title: "Processing Type",
                                    template: function (dataItem) {
                                        return dataItem.taskProcessing == "P" ? "Execute all Tasks" : "Execute Tasks in Order";
                                    }
                                }
                            ]
                        });
                    });
                </script>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.core.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.data.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.userevents.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.draganddrop.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.popup.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.window.min.js"></script>
    <script type="text/javascript" src="Packages/kendo-ui/js/kendo.tabstrip.min.js"></script>
    <script type="text/javascript" src="~/Packages/Kendo.Window.js"></script>

    <script>
        $(document).ready(function () {
            $("#aa-task-groups").kendoTabStrip();
        });

        function addNewCredit() {
            window.location.href = "/ManageAccountStatus"
        }
    </script>
}