.aa-widget {
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
}

.aa-widget.disabled {
    opacity: .75;
}

.aa-widget.disabled * {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.aa-widget-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ececec;
    margin-bottom: 6px;
    align-items:center;
}

.aa-widget-headerseparator {
    width:1px;
    height: 16px;
    background-color: #ececec;
    margin: 0 18px;
    display: inline-block;
}

.aa-widget-headercontent {
    padding: 6px 12px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.aa-widget-headertitle {
    padding: 6px 0;
    color: #808080;
    text-transform: uppercase;
}

.aa-widget-content {
    padding: 12px;
}

.aa-widget-footer {    
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ececec;
    margin-top: 6px;
    align-items:center;
}

.aa-widget-footercontent {
    padding: 6px 12px;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.aa-widget-header button,
.aa-widget-footer button {
    height: 24px;
    font-size: .9em;
    padding: .8em;
}
.aa-widget .k-grid,
.aa-widget .k-grid-header-wrap {
    border: 0;
}

.aa-widget .k-grid-header,
.aa-widget .k-grid-header th,
.aa-widget .k-grid-header th[role=columnheader] {
    background-color: transparent;
    border: 0;
    font-weight: 500;
    padding: 12px 6px;
}

.aa-widget .k-grid-header tr:hover {
    background-color: transparent;
}

.aa-widget .k-grid tr:hover td {
    background-color: #ececec;
}

.aa-widget .k-grid tr:not(.k-grouping-row):hover td:first-child {
    border-radius: 3px 0 0 3px;
}

.aa-widget .k-grid tr:not(.k-grouping-row):hover td:last-child {
    border-radius: 0 3px 3px 0;
}

.aa-widget .k-grid tr td {
    border-right: 0;
    border-left: 0;
}

.aa-widget .k-grid td {
    padding: 6px;
}

.aa-widget .k-grid tr.k-grouping-row+tr td {
    border-top-width: 0;
}

.aa-widget .k-grid tr:last-child td {
    border-bottom: 0;
}

.aa-widget .k-grid .k-group-cell.k-header {
    border-bottom: 0;
}

.aa-widget .k-grid .k-group-cell,
.aa-widget .k-grid .k-grouping-row .k-group-cell {
    background-color: transparent;
}

.aa-widget .k-grid .k-grouping-row .k-group-cell {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.aa-widget .k-grid tr td.k-group-cell {
    border-top-width: 1px;
}

.aa-widget .k-grid tr td {
    border-top-width: 1px;
    border-bottom-width: 0px;
}

.aa-widget .k-grid .k-grouping-row td:first-child:not(.k-group-cell) {    
    background-color: #3a3a3a;
    border-top-width: 4px;
    border-bottom-width: 4px;
    margin-top: 4px;
    border-color: #fff;
    color: #fff;
}

.aa-widget .k-grid .k-grouping-row td {
    border-width: 2px;
    border-radius: 6px;
    padding: 4px 2px;
}

.aa-widget .k-grid .k-grouping-row .k-icon {
    color: #fff;
}

.aa-widget .k-grid .k-grid-norecords-template {
    border: 0;
}

.aa-widget .k-grid tr.k-grouping-row:hover {
    background-color: transparent;
}

.aa-widget .k-grid .aa-action-button:hover {
    opacity: 0.25;
}

.aa-widget .k-grid tr:not(.k-state-selected):hover .aa-action-button:hover {
    background-color: #fff;
    opacity: 1;
}

.aa-widget .k-grid tr.k-state-selected:hover .aa-action-button:hover {
    background-color: #fff;
    opacity: 1;
}

.aa-widget .k-grid tr.k-state-selected {
    background-color: var(--app-color-selection-highlight);
}

.aa-widget .k-grid tr.k-state-selected td {
    background-color: transparent;
    border-color: #fff;
    color: var(--app-color-text);
}

.aa-widget .k-grid-filter.k-state-active {
    color: var(--app-color-accent);
}
.aa-widget .k-listview {
    border: none;
}
div[data-role=tabstrip].aa-widget div[role=tabpanel] {
    padding: 0;
}

.aa-widget .k-tabstrip > .k-content {
    padding: 0;
    margin: 0;
    overflow: inherit;
}

.aa-widget .k-tabstrip-items {
    border-bottom: 1px solid #e6e6e6;
}

.aa-widget .k-tabstrip.k-header,
.aa-widget .k-tabstrip-items .k-item {
    background-color: transparent;
    margin-right: 1px;
}

.aa-widget .k-tabstrip-items .k-item .k-link {
    color: black;
    padding: 6px 12px;
    color: #696969;
}

.aa-widget div[role="tabpanel"].k-content {
    background: transparent;
}
.aa-widget .k-tabstrip .k-content {
    background: transparent;
}

.aa-widget .k-tabstrip-items .k-item.k-state-active {
    background: #e6e6e6;
    border-bottom-color: #e6e6e6;
    border-radius: 4px 4px 0 0;
}

.aa-widget .k-tabstrip-items .k-item.k-state-hover {
    background: #ececec;
    border-bottom-color: #e6e6e6;
    border-top-color: transparent;
    border-radius: 4px 4px 0 0;
}

.aa-widget .k-tabstrip:focus {
    box-shadow: none;
}